@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --black: black;
  --white: white;
  --primary: #0186be;
  --primary-btn: rgb(12, 12, 68);
  --secondary: rgb(138, 137, 137);

  --container-width-lg: 79%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.container {
  width: var(--container-width-lg);
}

h1 {
  font-size: 3rem !important;
  font-weight: bold;
}
p {
  font-size: 15px !important;
  color: rgb(138, 137, 137);
}
